---
layout: default
---

<main>
  {% for post in paginator.posts %}
    <article class="post">
      {% include article.html article=post %}
    </article>
  {% endfor %}

  <nav class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | relativeurl }}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | relativeurl }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </nav>
</main>