{% if include.article.image %}
  <div class="post-thumbnail">
    <img src="{{ include.article.image | relative_url }}" class="img-responsive" aria-hidden="true" />
  </div>
{% endif %}

<div class="post-meta">
  <span class="posted-on">
    <span class="screen-reader-text">Posted on </span>
    <a href="{{ include.article.url | relative_url }}" rel="bookmark"><time datetime="{{ include.article.date | date_to_xmlschema }}">{{ include.article.date | date: "%B %-d, %Y" }}</time></a>
  </span>
  <span class="categories">
    <span class="screen-reader-text">Categories </span>
    {% for category in include.article.categories %}
      <a href="{{ category | strip | slugify | prepend: '/category/' | relative_url }}" rel="category tag">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </span>
  <span class="tags">
    <span class="screen-reader-text">Tags </span>
    {% if site.show_tag_links %}
      {% for tag in include.article.tags %}
        <a href="{{ tag | strip | slugify | prepend: '/tag/' | relative_url }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    {% else %}
      {% for tag in include.article.tags %}
        {{ tag }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    {% endif %}
  </span>
  {% if site.disqus_shortname %}
    <span class="comments">
      <a href="{{ include.article.url | relative_url }}#disqus_thread">Comments</a>
    </span>
  {% endif %}
  {% if site.github.repository_url %}
    <span class="edit">
      <a href="{{ site.github.repository_url }}/edit/master/{{ include.article.path }}">Edit</a>
    </span>
  {% endif %}
</div>

<div class="post-content">
  {% include contentformatter.html content=include.article.content %}
</div>