{% if include.article.image %}
  <div class="post-thumbnail">
    <img src="{{ include.article.image | absolute_url }}" class="img-responsive" aria-hidden="true" />
  </div>
{% endif %}

<div class="post-meta">
  <span class="posted-on">
    <span class="screen-reader-text">Posted on </span>
    <a href="{{ include.article.url | absolute_url }}" rel="bookmark"><time datetime="{{ include.article.date | date_to_xmlschema }}">{{ include.article.date | date: "%B %-d, %Y" }}</time></a>
  </span>
  <span class="categories">
    <span class="screen-reader-text">Categories </span>
    {% for category in include.article.categories %}
      <a href="{{ category | strip | slugify | prepend: '/category/' | absolute_url }}" rel="category tag">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </span>
  <span class="tags">
    <span class="screen-reader-text">Tags </span>
    {% assign all_tags = site.tags | map: "slug" %}
    {% for tag in include.article.tags %}
      {% assign slug = tag | strip | slugify %}
      {% if all_tags contains slug %}
        <a href="{{ slug | prepend: '/tag/' | absolute_url }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% else %}
        {{ tag }}{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
  </span>
  {% if site.disqus_shortname %}
    <span class="comments">
      <a href="{{ include.article.url | absolute_url }}#disqus_thread">Comments</a>
    </span>
  {% endif %}
  {% if site.github.repository_url %}
    <span class="edit">
      <a href="{{ site.github.repository_url }}/edit/master/{{ include.article.path }}">Edit</a>
    </span>
  {% endif %}
</div>

<div class="post-content">
  {{ include.article.content }}
</div>