<footer class="content-footer" role="contentinfo">
  {{ site.disclaimer | markdownify }}
  <p>Site design based on <a href="https://github.com/poole/hyde">Hyde</a> under the <a href="https://github.com/poole/hyde/blob/master/LICENSE.md">MIT license</a>.</p>
</footer>

{% if site.disqus_shortname %}
  <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
{% endif %}
{% if site.addthis_profile %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile }}"></script>
{% endif %}
<script src="{{ site.baseurl }}{% link js/reflow.min.js %}" async></script>
