{% capture site_url %}{% link index.html %}{% endcapture %}
{% assign site_url =              site_url | absolute_url %}
{% assign site_title =            site.title | smartify | strip_html | normalize_whitespace | escape_once %}
{% assign site_description =      site.description | smartify | strip_html | normalize_whitespace | escape_once %}
{% assign site_logo =             site.logo %}
{% if site_logo %}
{%   unless site_logo contains '://' %}
{%     assign site_logo =         site_logo | absolute_url %}
{%   endunless %}
{%   assign site_logo =           site_logo | escape %}
{% endif %}
{% assign site_feed =             site.feedurl | default: site.feed.path | default: '/feed.xml' %}
{% unless site_feed contains '://' %}
{%   assign site_feed =           site_feed | relative_url %}
{% endunless %}
{% assign site_feed =             site_feed | escape_once %}
{% assign page_title =            page.title | default: site.title | smartify | strip_html | normalize_whitespace | escape_once %}
{% assign page_description =      page.description | default: page.excerpt | default: site.description | markdownify | strip_html | normalize_whitespace | escape_once %}
{% assign page_url =              page.url | absolute_url %}
{% assign page_image =            page.image | default: site.logo %}
{% if page_image %}
{%   unless page_image contains '://' %}
{%     assign page_image =         page_image | absolute_url %}
{%   endunless %}
{%   assign page_image =           page_image | escape %}
{% endif %}
{% if page.title %}
{%   assign page_full_title =     page.title | append: ' – ' | append: site.title | smartify | strip_html | normalize_whitespace | escape_once %}
{% else %}
{%   assign page_full_title =     site.title | append: ' – ' | append: site.description | smartify | strip_html | normalize_whitespace | escape_once %}
{% endif %}
{% if paginator %}
{%   assign page_fb_type =        'website' %}
{%   assign page_ld_type =        'WebSite' %}
{% else %}
{%   assign page_fb_type =        'article' %}
{%   if page.layout == 'post' %}
{%     assign page_ld_type =      'BlogPosting' %}
{%   else %}
{%     assign page_ld_type =      'WebPage' %}
{%   endif %}
{% endif %}
{% assign author_picture =          site.author.picture %}
{% if author_picture %}
{%   unless author_picture contains '://' %}
{%     assign site_logo =         site_logo | absolute_url %}
{%   endunless %}
{% endif %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ page_full_title }}</title>

  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ site.author.name | default: site.author }}">
  
  <link rel="canonical" href="{{ page_url }}">
  <link rel="prefetch" href="{{ site_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site_title }}" href="{{ site_feed }}">
  
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link favicon.ico %}">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}{% link favicon.ico %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}{% link favicon-16x16.png %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}{% link favicon-32x32.png %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}{% link favicon-96x96.png %}">
  <link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl }}{% link favicon-144x144.png %}">
  
  <meta name="theme-color" content="{{ site.theme-color | default: '#202020'}}">
  
  {% if paginator.next_page or page.next.url %}
    <link rel="next" href="{{ paginator.next_page_path | default: page.next.url | absolute_url }}">
  {% endif %}
  {% if paginator.previous_page or page.previous.url %}
    <link rel="prev" href="{{ paginator.previous_page_path | default: page.previous.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/poole.css %}">
  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/syntax.css %}">
  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/hyde.css %}">
  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/styles.scss %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">

  <meta property="og:type" content="{{ page_fb_type }}" />
  <meta property="og:site_name" content="{{ site_title }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="og:url" content="{{ page_url }}" />
  {% if page_image %}
    <meta property="og:image" content="{{ page_image }}" />
  {% endif %}

  {% if site.facebook %}
    {% if site.facebook.admins %}
      <meta property="fb:admins" content="{{ site.facebook.admins }}" />
    {% endif %}
    {% if site.facebook.app_id %}
      <meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
    {% endif %}
    {% unless paginator %}
      {% if site.facebook.publisher %}
        <meta property="article:publisher" content="{{ site.facebook.publisher }}" />
      {% endif %}
      {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
      {% endif %}
      {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endunless %}
  {% endif %}
  
  {% if site.twitter %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username | replace: '@', '' }}" />
    <meta name="twitter:creator" content="@{{ site.author.twitter | default: site.twitter.username | replace: '@', '' }}">
    <meta name="twitter:title" content="{{ page_title }}" />
    <meta name="twitter:description" content="{{ page_description }}" />
    <meta name="twitter:url" content="{{ page_url }}" />
    {% if page_image %}
      <meta name="twitter:image:src" content="{{ page_image }}" />
    {% endif %}
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{ site.author.name | default: site.author }}" />
    {% if page.categories %}
      <meta name="twitter:label2" content="Filed under" />
      <meta name="twitter:data2" content="{% for category in page.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}" />
    {% endif %}
  {% endif %}

  <meta name="application-name" content="{{ site_title }}"/>
  <meta name="msapplication-tooltip" content="{{ site_description }}"/>
  <meta name="msapplication-starturl" content="./"/>
  <meta name="msapplication-window" content="width=device-width;height=device-height"/>
  <meta name="msapplication-task" content="name=Syndicate this site using RSS 2.0;action-uri={{ site_feed }};icon-uri=favicon.ico"/>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": {{ page_ld_type | jsonify }},
    "name": {{ site_title | jsonify }},
    "headline": {{ page_title | jsonify }},
    "description": {{ page_description | jsonify }},
    "publisher": {
      "@type": "Organization",
      "name": {{ site_title | jsonify }},
      "logo": {{ site_logo | jsonify }}
    },
    "author": {
      "@type": "Person",
      "name": {{ site.social.name | default: site.author.name | default: site.author | jsonify }},
      {% if author_picture %}
        "image": {{ author_picture | jsonify }},
      {% endif %}
      "sameAs": {{ site.social.links | jsonify }}
    },
    {% if page_image %}
      "image": {{ page_image | jsonify }},
    {% endif %}
    {% if page.date %}
      "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
    {% endif %}
    {% if page.last_modified_at or page.date %}
      "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }},
    {% endif %}
    "url": {{ page_url | jsonify }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ site_url | jsonify }}
    }
  }
  </script>

  {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</head>
