{% assign site_logo = site.logo %}
{% if site_logo %}
{%   unless site_logo contains '://' %}
{%     assign site_logo = site_logo | absolute_url %}
{%   endunless %}
{% endif %}
{% assign minimap_pages =         site.data.sitemap | where_exp: 'page', 'page.minimap != false' %}
<aside class="sidebar" role="complementary">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site_logo %}
        <img src="{{ site_logo }}" />
      {% endif %}
      <h1>
        <a href="{{ site.baseurl }}{% link index.html %}" rel="home">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav" role="navigation" aria-label="Primary Menu">
      {% for page in minimap_pages %}
        <a class="sidebar-nav-item" href="{{ page.url | absolute_url }}">{{ page.title }}</a>
      {% endfor %}
    </nav>
    
    <nav class="sidebar-social" role="navigation" aria-label="Social Links Menu">
      {% for link in site.social.links %}
        {% if link contains 'twitter.com' %}
          {% assign link_title = 'Twitter' %}
        {% elsif link contains 'facebook.com' %}
          {% assign link_title = 'Facebook' %}
        {% elsif link contains 'linkedin.com' %}
          {% assign link_title = 'LinkedIn' %}
        {% elsif link contains 'github.com' %}
          {% assign link_title = 'GitHub' %}
        {% endif %}
        <a class="sidebar-social-item" href="{{ link }}" title="{{ link_title }}"><span class="screen-reader-text">{{ link_title }}</span></a>
      {% endfor %}
      <a class="sidebar-social-item" href="{{ '/feeds' | absolute_url }}" title="Syndicated Feeds"><span class="screen-reader-text">Syndicated Feeds</span></a>
    </nav>

    {% if site.sidebar.logos %}
      <div class="sidebar-logos">
        {% for logo in site.sidebar.logos %}
          {% assign logo_url = logo.url %}
          {% unless logo_url contains '://' %}
          {%   assign logo_url = logo_url | absolute_url %}
          {% endunless %}
          <img src="{{ logo_url }}" {% if logo.title %}title="{{ logo.title }}"{% endif %} />
        {% endfor %}
      </div>
    {% endif %}

    {% if site.facebook.app_id and site.facebook.publisher %}
      <div class="sidebar-facebook">
        <div class="fb-follow" data-href="https://www.facebook.com/{{ site.facebook.publisher }}" data-layout="standard" data-size="small" data-show-faces="true" data-colorscheme="dark" data-width="320"></div>
      </div>
    {% endif %}
  </div>
</aside>
