---
layout: default
---

{% assign page_type = page.path | split: "/" | compact | first %}
{% if page_type == "category" %}
  {% assign page_title = page.title | prepend: "Category: " %}
  {% assign site_posts = site.posts | where_exp: "item", "item.categories contains page.title" %}
{% elsif page_type == "tag" %}
  {% assign page_title = page.title | prepend: "Tag: " %}
  {% assign site_posts = site.posts | where_exp: "item", "item.tags contains page.title" %}
{% else %}
  {% assign page_title = page.title %}
  {% assign site_posts = site.posts %}
{% endif %}
<main>
  <div class="page">
    <header class="page-header">
      <h1>{{ page_title }}</h1>
    </header>

    <div class="page-content">
      {% for post in site_posts %}
        {% assign post_year = post.date | date: '%Y' %}
        {% if year != post_year %}
          {% unless forloop.first %}
            </ul>
          {% endunless %}
          {% assign year = post_year %}
          <h2>{{ year }}</h2>
          <ul>
        {% endif %}
        <li>
          <h3 class="post-entry">
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
              <small>{{ post.date | date: "%B %-d, %Y" }}</small>
            </a>
          </h3>
        </li>
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
