---
layout: default
---
{% case page.collection %}
  {% when "categories" %}
    {% assign page_title = page.title | prepend: "Category: " %}
  {% when "tags" %}
    {% assign page_title = page.title | prepend: "Tag: " %}
  {% else %}
    {% assign page_title = page.title %}
{% endcase %}

<main role="main">
  <article class="page">
    <header class="page-header">
      <h1 class="page-title">{{ page_title }}</h1>
    </header>

    <div class="page-content">
      {{ content }}
    </div>
  </article>
</main>