---
layout: default
---
{% assign post_id =               post.id | replace: '/', '-' %}
{% assign author_picture =        site.author.picture %}
{% if author_picture %}
{%   unless author_picture contains '://' %}
{%     assign author_picture =    author_picture | relative_url %}
{%   endunless %}
{% endif %}
<main role="main">
  <article id="post{{ post_id }}" class="post post{{ post_id }}">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | smartify }}</h1>
    </header>

    {% include article.html article=page %}
  </article>

  {% if author_picture %}
    <section class="post-author">
      <img src="{{ author_picture }}" class="author-thumbnail" />
      <div class="author-biography">
        <h2>by {{ site.author.name | default: site.author }}</h2>
        {{ site.author.biography | markdownify }}
      </div>
    </section>
  {% endif %}

  {% if site.addthis_profile %}
    {% unless page.noshare %}
      <section class="post-social">
        <div class="addthis_inline_share_toolbox"></div>
      </section>
    {% endunless %}
  {% endif %}
  
  {% if site.disqus_shortname %}
    {% unless page.nocomments %}
      <section class="post-comments">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}'
          };
          (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </section>
    {% endunless %}
  {% endif %}

  {% if page.previous or page.next %}
    <nav class="post-navigation" role="navigation">
      {% if page.previous.url %}
        <h2 aria-hidden="true">Previous</h2>
        <span class="screen-reader-text2">Previous post:</span>
        <h3 class="post-entry">
          <a href="{{ page.previous.url | relative_url }}" title="Previous Post: {{ page.previous.title | smartify }}">
            {{ page.previous.title | smartify }}
            <small>{{ page.previous.date | date: "%B %-d, %Y" }}</small>
          </a>
        </h3>
      {% endif %}
      {% if page.next.url %}
        <h2 aria-hidden="true">Next</h2>
        <span class="screen-reader-text">Next post:</span>
        <h3 class="post-entry">
          <a href="{{ page.next.url | relative_url }}" title="Next Post: {{ page.next.title | smartify }}">
            {{ page.next.title | smartify }}
            <small>{{ page.next.date | date: "%B %-d, %Y" }}</small>
          </a>
        </h3>
      {% endif %}
    </nav>
  {% endif %}
</main>